footer{
    width: 100%;
    padding-bottom: 40px;
.footer__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer__logo{
        display: flex;
        gap: 60px;
        align-items: center;
        a{}
        & p, .footer__items p{
            color: #C5C5C5;
            font-family: $pop;
            font-size: 13px;
            font-weight: 400;
        }
    }
   
}
}