// .container {
//     max-width: 1920px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 15px;
    .price {
        max-height: 1068px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;

        .price__title {
            color: #212121;
            font-family: $pop;
            font-size: 24px;
            font-weight: 500;
            transition: .3s;

            &:hover {
                color: #E46D5B;
                transform: scale(1.1);
            }
        }

        & p {
            color: #C5C5C5;
            font-family: $rob;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            padding-bottom: 60px;
            padding-top: 17px;
        }

        .hostings {
            display: flex;
            gap: 51px;

            .hostings__type {
                min-width: 270px;
                min-height: 360px;
                display: flex;
                flex-direction: column;
                padding-top: 40px;
                padding-bottom: 19px;
                align-items: center;

                &:hover {
                    min-height: 400;
                    border-top: 1px solid #DE3C3C;
                }

                & h2 {
                    color: #212121;
                    font-family: $pop;
                    font-size: 18px;
                    font-weight: 500;
                }

                & p {
                    color: #C5C5C5;
                    text-align: center;
                    font-family: $rob;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    width: 150px;
                    padding-bottom: 40px;
                }

                .hosting_type-start {
                    color: #C5C5C5;
                    font-family: $rob;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }

                .hosting_type-price {
                    color: #FFAA64;
                    /* text-align: center; */
                    font-family: $pop;
                    font-size: 32px;
                    font-weight: 300;
                }

                a.hostings__type-link {
                    background: white;
                    color: #212121;
                    display: flex;
                    gap: 4px;
                    font-family: $pop;
                    font-size: 13px;
                    font-weight: 500;
                    padding-top: 82px;

                    &:hover {
                        color: #DE3C3C;
                    }
                }
            }
        }

        .questions {
            margin-top: 220px;
            margin-bottom: 170px;
            max-width: 840px;
            max-height: 260px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 10px 20px 60px 0px rgba(0, 0, 0, 0.06);

           & h2 {
                color: #212121;
                font-family: $pop;
                font-size: 24px;
                font-weight: 500;
                height: 36px;
                width: 247px;
                transition: .3s;

                &:hover {
                    transform: scale(1.1);
                    color: $c-blue;
                }
            }

           & p {
                color: #C5C5C5;
                font-family: $rob;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding-bottom: 30px;
            }

            .questions__flex {
                display: flex;
                gap: 60px;
                align-items: center;
            }

            .qustions__export {
                color: #212121;
                font-family: $pop;
                font-size: 13px;
                font-weight: 500;
                border-radius: 4px;
                border: 1px solid #323643;
                padding: 13px 37px 13px 35px;
                transition: .3s;

                &:hover {
                    color: white;
                    background: #C00000;
                    border: none;
                    outline: none;
                }
            }

            .nav__list-link-style {
                @extend %btn-style;

                & .nav__list-link-style1 {
                    @extend %btn-style1;
                    

                }
                &:hover {
                    background-color: #C00000;
                }
            }


        }
    }
// }