@import './fonts.scss';
$pop : 'Poppins';
$c-blue: #43BEE2;
$rob: 'Roboto';
%btn-style {
    color: #FFF;
    font-family: $pop;
    font-size: 13px;
    font-weight: 500;
    padding: 9px 35px 7px 20px;
    border-radius: 4px;
    background: #DE3C3C;
    transition: .5s;
    max-width: 200px;
   }

%btn-style1 {
    padding: 13px 17px 13px 20px;
    display: flex;
    gap: 4px;
    transition: .5s;
    
   }
